
/* ---- Header & Navbar -------- */

#brand-container {
	padding: 2px;
	display: inline-block;
	width: 300px;
}

#brand {
	padding: 0;
	margin: 0;
	height: 100%;
	display: inline-block;
}

#brand-container h4 {
	display: inline-block;
	margin: 2px;
	font-size: 1.5em;
	vertical-align: middle;
	color: #323232;
}

.navbar {
	border-radius: 0;
	height: 6em;
	background: #fbdb4a;
}

.navbar .container-fluid,
.navbar-header,
.navbar-brand,
.navbar .nav-pills,
.navbar .nav-pills li,
.navbar .nav-pills li a {
	height: 100%;
	vertical-align: middle;
}

.navbar .nav-pills li a:hover {
	background: #323232;
	border-radius: 0;
}

.navbar .nav-pills li a i {
	font-size: 2.5em;
	color: #323232;
	padding: 0.3em 0.25em 0 0.25em;
	width: 1.5em;
}


@media screen and (max-width: 770px) {
	.navbar .nav-pills li:nth-child(1),
	.navbar .nav-pills li:nth-child(2),
	.navbar .nav-pills li:nth-child(3),
	.navbar .nav-pills li:nth-child(4) {
		display: none;
	}


	#stay {
		float: right;
	}
}

/* ---- END Header & Navbar -------- */

/* ---- Content -------- */

h1 {
	text-align: center;
	font-weight: 900;
}

p {
	font-size: 1.5em;
}


.pin p span {
	font-size: 2.25em;
	background: #fbdb4a;
	border-radius: 50%;
	padding: 0.5em;
	text-align: center;
	position: relative;
}

.pin p {
	width: 60%;
	margin: 0 auto 0 auto;
	padding: 1em 0 1em 0;
}

.pin .icon {
	padding: 5em 0 1em 0;
	text-align: center;
}

.pin img {
	width: 100%;
}

.icon {
	font-size: 1.1em;
}


.camera {
	margin: -50% 0 0 0;
}
